@Model IEnumerable<GiantBomb.Api.Model.Game>
    @{
        ViewBag.Title = "Index";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }


    @try
    {
        throw new InvalidOperationException("You did something invalid.");
    }
    catch (Exception ex)
    {
        <p>The exception message: @ex.Message</p>
    }
    finally
    {
        <p>The finally statement.</p>
    }


    <h2>Index</h2>
    <table class="table">
        <tr>
            <th>
                Id
            </th>
            <th>
                Name
            </th>
            <th>
                Image
            </th>
            <th>
                Price
            </th>
            <th>
                Date
            </th>

        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Name</td>
                <td><img src="@item.Image.IconUrl" alt="Alternate Text" /></td>
                <td>@item.OriginalPrice</td>
                <td>@item.ReleaseDate</td>
            </tr>
        }
    </table>
    <strong style="color:green">@TempData["status"]</strong>
